.feed {
	margin-bottom: 1px;
	display: block;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	
	-webkit-column-count: 2;
	-webkit-column-gab: 20px;
	padding-top: 25px;
}


#zffixednews img {
	max-width: 780px !important;
}