/* ZebraFeeds admin panel style sheet */
html, body{
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
select:focus, textarea:focus, input:focus {
	font-size: 16px;
	background:#eee;
	}
}
img {
	border: 0;
}

a:link {
	color: #333333;
}

a:visited {
	color: #333333;
}

a:hover {
	color: #FFB15A;
}

a:active {
	color: blue
}

.normaltext {
	color: #000;
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 40px 0 40px;

}

.smallprint {
	color: #FFB15A;
	font-size: 80%;
	font-family: sans-serif;
}
#top {
	margin-top: 10px;
}
#banner {
	text-align: center;
	float: left;
}

#core {
	background-color: #fff;
	margin: 0 auto 0 auto;
	padding: 15px 20px 20px 10px;
	max-width: 780px;
	text-align: left;
	border: 1px solid #666;
	border-width: 0;
}
#core h2 {
	/*border-top: 1px solid #ddd;*/
	/*border-bottom: 1px solid #ddd;*/
	/*text-align: center;*/
}
#core2 {
	padding: 10px 20px 0 20px;
	background-color: #fff;
	text-align: justify;
	width: 85%;
	margin: 0 auto 0 auto;
	border: 1px solid #666;
	border-width: 0;
}



#startmenu li {
	list-style-image: url(../images/arrow.png);
	line-height: 2em;
}

#extrainfo {
	border: 1px solid #FFB15A;
	border-radius: 2px;
	padding: 10px;
}


#saveconfig {
	padding-bottom: 25px;
}

.menuitem {
	padding: 6px;
	text-align: left;
	margin: 15px;
	border: 1px dotted #909090;
}



.zftable {
	border: 1px solid #666;
}

#bottom {
	text-align: center;
	font-size: 10px;
	background: #fff;
	padding: 10px 20px 0 20px;
	margin: 0 auto 20px auto;
	width: 85%;
	height: 20px;
	/*           border: 1px solid #666;
	border-width: 0 0 2px;*/
}


/* Subscription list
------------------------ */
#listsform, #status {
	text-align: left;
	padding: 15px;
	margin: 5px;
	/*border: 2px solid #dbca95;*/
	border: 1px solid #333333;

	/*border-radius: 3px;*/
}

.listctrl{
	right: 10px;
	top: 5px;
	display: inline-block;
	margin-left: 15px;
	float: right;
}

.frame {
	/*border-radius: 3px;*/
	/*border: 2px solid #dbca95;*/
	border-left: 2px solid #333333;
	margin: 5px;
	margin-bottom: 20px;
	padding-left: 5px;
}

#listsettings {
	margin: 5px;
	padding: 10px;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #dbca95;*/
	border-bottom: 1px solid #333333;
}

#chancolumn {
	margin: 0px;
}

#chancolumnheader{
	margin-top:5px;
	margin-bottom: 5px;
	padding: 5px;
	padding-left: 12px;
}

#chanlist {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: left;
}

.chanlistcheck {
	color: #aaa;
}

#editcolumn {
	width: 45%;
	margin: 0px;

}
.editfeed {
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	/*background: #dbca95;*/
}

.savepanel {
	text-align: left;
	margin-top: 15px;
	padding: 5px;
}

.opresult {
	border: 1px solid #ccc;
	font-size: 60%;
	margin-left: 30px;
	text-align: left;
	display: none;
	padding: 5px;
}


.sub-feed {
	border-bottom: 1px dotted #FFB15A;
}

.sub-line {
	border: 1px solid #FFB15A;
	border-radius: 2px;
	padding: 7px;
	margin: 5px;
}
.sub-line:hover {
	background-color: #F8f8F8;
}
.sub-number {

	text-align: right;
}


#firstline, #lastline {
	background: #fff;
	padding: 10px 0 10px 0;
}
#lastline td {
	padding-top: 15px;
}

.link {
	cursor: pointer;
	/*text-decoration: underline;*/
	color: #333333;
}

.unsubscribed {
	font-style: italic;
	font-size: 80%;
}
.subscribed {
}



/*#firstline { border-bottom: 1px solid #000; }*/
/*#firstline td, #lastline td {
background: #eee;
padding: 10px 0 10px 0;
border-bottom: 1px solid #000;
}*/
#firstline td{
	text-align: center;
	border-bottom: 1px solid #000;
}

.legend {
	font-weight: bold;
}

/* Main menu
-------------------------------------------------------- */

#header {
	text-align: left;
	font-size:90%;
	background: transparent;
	padding: 0 20px 0 20px;
	width: 85%;
	margin: 0 auto 0 auto;

}

ul.tabs {

	clear: both;
	background-color: transparent;
	padding: 20px 0 0 0;
	height: 22px;
	margin: 0 auto 0 -20px;
	list-style: none;
}

ul.tabs li {
	float: left;
/*	background: transparent url(../images/right.png) no-repeat right top;*/
}

ul.tabs li {
	text-align: center;
/*	background: transparent url(../images/left.png) no-repeat left top;*/
	margin:0 auto 0 auto;
	padding: 0 2px 0 4px;
}

ul.tabs a {
	display:block;
/*	background: url(../images/left.png) no-repeat left top;*/
	padding: 5px 15px 4px;
}
ul.tabs a:hover {
	text-decoration: underline;
	color: #000;
}
ul.tabs a:visited {
	text-decoration: none;
	color: #000;
}

ul.tabs .active{
	/* background-image: url(../images/right_on.png);*/
	background: #FFB15A;
}


ul.tabs .active a {
	/* background-image: url(../images/left_on.png); */
	background: #FFB15A;

	color: #000;
	padding-bottom:5px;
}


ul.tabs a, ul.tabs strong, ul.tabs span {
	display:block;
	/*background: url(../images/right.png) no-repeat right top;*/
	padding:5px 15px 4px 6px;
}

ul.tabs .active {
	/*background-image: url(../images/left_on.png);*/
}

ul.tabs .active a {
	/*background-image: url(../images/right_on.png);*/
	padding-bottom:5px;
}

ul.tabs a {
	display:block;
	/*background: url(../images/left.png) no-repeat left top;*/
	padding:5px 15px 4px 6px;
}

ul.tabs a {
	display:block;
	/*background: url(../images/right.png) no-repeat right top;*/
	padding:5px 6px 4px 5px;
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

/* Le hack de l'antislash commenté
cache cette règle à IE5-Mac \*/

ul.tabs a {float:none;}
/* End IE5-Mac hack */



ul.tabs a {
	/* Pour IE Mac uniquement \*//*/
	float:left;
	/**/
}
/* Config form
--------------------------------------*/
.twocols {
	margin-bottom: 40px;
	position : static;
}
.twocols h2 {
	border: 2px solid #000;
	color: #0084ff;
}
.col1 {
margin-top: 10px;
}

/* .twocols .col1 {
	width : 49%;
	margin-left : 1%;
	float : left;
	text-align: left;
}
.twocols .col1, .col2:first-child {
	width : 40%;
	margin-left : 0;

}
*/
.col1 p {
	height: 5em;
	padding: 0 5em 0 5em;
}

/* tooltips
found here : http://www.peutetreunereponse.net/article-1528160.html
-----------------------------------------*/
a.info {
	position:relative;
	text-decoration: none;
	font-weight: bold;
}
a:hover.info {
	text-decoration: none;
	background: none;
	cursor: help;
}
a.info span {display: none;}
a:hover.info span {
	display: inline;
	position: absolute;
	top:1.5em;
	left:0.5em;
	z-index: 20;
	background: #446D87;
	color: #fff;
	border:1px solid #000;
	width:150px;
	text-align:left;
	font-weight:normal;
	font-size: 10px;
	line-height:12px;
	padding:2px 4px;
}


