/* Zebrafeeds login page */


html, body{
	margin: 20px auto;
	padding: 0;
	background: #fff;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #ff9000;
	text-decoration: none;
}

a:active {
	color: blue
}
/* Login form
 ------------------------ */
#loginform {
	margin: 0 auto;
	padding: 20px 40px;
	max-width: 400px;
/*	background: #fff;*/
}

.normaltext {
	padding: 20px;
	margin: 0 auto;
}
#user,#pass {
	margin: 0 auto 30px auto;
}
#user input, #pass input {
	width: 200px;
}
.accessdenied {
	font-size: 1.5em;
	font-weight: bold;
	color: #F00;
}
