<!--	ZebraFeeds template
	name / description: River of news template
	author: Laurent Cazalet
	note: Do NOT delete or modify comments in the template files

-->

<!-- templateHeader -->

<!-- ENDtemplateHeader -->

<!-- header -->
<!-- ENDheader -->
<!-- channel -->
<!-- ENDchannel -->
<!-- news -->
<p><i>{chantitle}</i><br/>
<a href="{articleurl}">{title}</a>. {summary}</p>
<!-- ENDnews -->
<!-- newsByDate -->
<p><i>{chantitle}</i><br/>
<a href="{articleurl}">{title}</a>. {summary}</p>
<!-- ENDnewsByDate -->
<!-- newsDay -->
<h4>{date}</h4>
<!-- ENDnewsDay -->
<!-- footer -->
<!-- ENDfooter -->
<!-- newsDayFooter -->
<!-- ENDnewsDayFooter -->
<!-- between -->
<!-- ENDbetween -->

