<!--	ZebraFeeds tests template

-->

<!-- templateHeader -->

<!-- SIMPLE TEST TEMPLATE HEADER -->
<!-- ENDtemplateHeader -->

<!-- header -->
<pre>
HEADER SECTION
scripturl        {scripturl}
-----
</pre>
<!-- ENDheader -->
<!-- channel -->
<pre>
CHANNEL SECTION
---
chanid          {chanid}
chanlogo        {chanlogo}
chantitle       {chantitle}
chanlink        {chanlink}
chandesc        {chandesc}
chanlogo        {chanlogo}
feedurl         {feedurl}
lastupdated     {lastupdated}

morebutton      {morebutton}
refreshbutton   {refreshbutton}
hidebutton      {hidebutton}
foldbutton      {foldbutton}

list            {list}
----
END CHANNEL
</pre>
<!-- ENDchannel -->
<!-- news -->
<pre>
		NEWS SECTION
		---
		title           {title}
		pubdate         {pubdate}
		link            {link}
		itemid          {itemid}
		isnew           {isnew}
		
		chantitle       {chantitle}
		chanlink        {chanlink}
		chandesc        {chandesc}
		feedurl         {feedurl}
		scripturl       {scripturl}
		list            {list}
		
		description 
		{description}
		------
		summary
		{summary}
		------
		enclosures      {enclosures}
		------
		END NEWS
</pre>
<!-- ENDnews -->
<!-- newsByDate -->
<pre>
		NEWSBYDATE SECTION
		---
		title           {title}
		pubdate         {pubdate}
		link            {link}
		itemid          {itemid}
		isnew           {isnew}
		
		chantitle       {chantitle}
		chanlink        {chanlink}
		chandesc        {chandesc}
		feedurl         {feedurl}
		scripturl       {scripturl}
		list            {list}
		
		description 
		{description}
		------
		summary
		{summary}
		------
		enclosures      {enclosures}
		------
		extended_description
		{extended_description}
		------
		END NEWSBYDATE
</pre>
<!-- ENDnewsByDate -->
<!-- newsDay -->
<pre>
NEWSDAY SECTION
---
date            {date}
------
END NEWSDAY
</pre>
<!-- ENDnewsDay -->
<!-- footer -->
<pre>
FOOTER SECTION
-----
</pre>
<!-- ENDfooter -->
<!-- newsDayFooter -->
<pre>
NEWSDAYFOOTER SECTION
-----
</pre>
<!-- ENDnewsDayFooter -->
<!-- between -->
<pre>
BETWEEN SECTION
-----
</pre>
<!-- ENDbetween -->
<!-- extendedDescription -->
<pre>
EXTENDED DESCRIPTION SECTION
---
title           {title}
pubdate         {pubdate}
link            {link}
chantitle       {chantitle}
chanlink        {chanlink}
chandesc        {chandesc}
feedurl         {feedurl}

description     
{description}
------
enclosures      {enclosures}
------
END EXTENDED DESCRIPTION
<!-- ENDextendedDescription -->

