<!--  ZebraFeeds template
name / description: twopane / template with scrolling list of news
most suited for per-date aggregations rather than per-channel
author: Laurent (laurent@cazalet.org)

note: Do NOT delete or modify comments in the template files -
-->


<!-- templateHeader -->

<style type="text/css">

.zfchannelstatus {
	font-size: 9px;
	background-color: #eeeeee;
	color: #666;
	margin-right: 3px;
}


.logo {
	float: left;
	margin: 0px;
	padding: 1px;
	margin-right: 5px;
	vertical-align: middle;
}

.channel, .day {
	vertical-align: middle;
	padding: 10px;
	margin: 15px;
	color: #666;
	background: #DDD;
	border-radius: 3px;
	border: 1px solid #999;
}

.channel img {
	width: 16px;
	height: 16px;
}

#zfwrap {
	margin-top: 10px;
	margin-bottom: 20px;
}

#leftcolumn {
	margin-top: 10px;
	width: 35%;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	height: 600px;
	display: inline-block;
	vertical-align: top;
}


#zffixednews {
	width: 64%;
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
	overflow-x: hidden;
	height: 600px;
}

#zffixednews img {
	margin: 10px;
	display: block;
	max-width: 90%;
}



.newsitem {
	margin: 3px;
	padding: 3px;
	min-height: 35px;
}

.story {
	margin: 15px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.newstitle, .newstitlelist {
	background-color: #f8faf7;
	padding: 0px;
	margin-bottom: 0px;
}

.newstitlelist {
	padding: 5px;
}

.datelabel a:link {
	color: #621b2f; 
	text-decoration: none; 
}

.datelabel a:visited {
	color: #939393; 
	text-decoration: none; 
}

.datelabel a:hover {
	text-decoration: none; 

}


.newsdesc a {
	text-decoration: underline;
}
.newsdesc {
	text-align: left;
	font-family: Times New Roman, serif;
	font-size: 120%;
}

.newsdesc img {
	border: 1px solid #999;
}

.chanlink {
	font-family: Palatino, Georgia, Times New Roman, serif;
}


.chanlink a {
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
}


.itemtitle {
	cursor: pointer;
}

.controls {
	vertical-align: middle;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	height: 12px;
	width: auto;
}

.controls img{
	cursor: pointer;
}

.dateline {
	color: #999;
	font-size: 80%;
	text-align: left;
}

.datelabel {
	color: #999;
	font-size: 80%;
	text-align: left;
}

.enclosure {
	color: #229;
	font-size: 90%;
	text-decoration: none;
}

.enclosure a {
	text-decoration: underline;
}

.newslist {

}


.newsdaylist {

}

.headtitle {
	font-family: Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
}

.newclass {
	font-weight: bold;
	cursor: pointer;
}
</style>
<!-- ENDtemplateHeader -->


<!-- header -->
{dynamicnews}
<div id="zfwrap">
<div id="leftcolumn">
<!-- ENDheader -->
<!-- channel -->
<div class="channel">
	<div class="logo">
		{chanfavicon}
	</div>
	<div class="controls">
		<img src="{scripturl}/images/refresh.png" alt="[REFRESH]" title="refresh all articles of {chantitle}" border="0" onclick="zf_getRefreshedNews('{feedurl}', 10, 0, 'NEWSLIST'+'{chanid}');" />
	</div>
	<div class="chanlink">
		<a href="{chanlink}">{chantitle}</a>
	</div>
	<div class="dateline">
		last updated: {lastupdated}
	</div>
</div>
<div class="newslist" id="NEWSLIST{chanid}">
<!-- ENDchannel -->
<!-- news -->
<div class="newsitem">
	<div class="newstitlelist">
		<!-- this is the tricky bit, to have ajaxed news items -->
		<span class="itemtitle {isnew}" onclick="zf_getArticle('{feedurl}','{itemid}', 'zffixednews');this.style.color = '#BEBEBE';">{title}</span>
		<span class="dateline"><a href="{link}" title="{chantitle}" target="_parent">{pubdate}</a></span>
	</div>
</div>
<!-- ENDnews -->
<!-- newsDay -->
<div class="day">
	<div class="chanlink">
		{date}
	</div>
</div>
<div class="newsdaylist">
<!-- ENDnewsDay -->
<!-- newsByDate -->
<div class="newsitem" id="ITEM{itemid}">
		<div style="float: left; padding:10px;vertical-align: middle;">{chanfavicon}</div>
	<div class="newstitlelist">
		<span class="dateline">{chantitle}  -  {relativedate}</span><br/>
		<span class="itemtitle {isnew}" onclick="zf_getArticle('{feedurl}','{itemid}', 'zffixednews'); this.style.color = '#BEBEBE';" title="{chantitle}">{title}</span>
	</div>
</div>
<!-- ENDnewsByDate -->
<!-- channelFooter -->
</div> <!-- end newslist section -->
<!-- ENDchannelFooter -->
<!-- footer -->
</div> <!-- leftcolumn -->
<div id="zffixednews">
	<!-- this is where our news items description will go-->
</div>
</div> <!-- zfwrap -->
<!-- ENDfooter -->
<!-- dynamicDescription -->
<div class="story">
	<div class="newstitle" style="background-color: #fff;">
		<span class="headtitle">{title}</span>
		<div><span class="datelabel"><a href="{link}" title="{chantitle}" target="_parent">» {chantitle}</a></span> <span class="dateline">{pubdate}</span></div>
		<span class="enclosure">{enclosures}</span>
	</div>
	<div class="newsdesc">
		{description}
	</div>
</div>
<!-- ENDdynamicDescription -->
<!-- between -->
<!-- ENDbetween -->

