<!--  ZebraFeeds template
  name / description: newsflow
  author: Laurent (laurent@cazalet.org)

  note: Do NOT delete or modify comments in the template files -
-->


<!-- templateHeader -->

<style type="text/css">

#zfwrapper {
	margin-top: 5px;
	margin-bottom: 1px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	padding: 4px;
}

.zfchannelstatus {
	font-size: 1em;
	background-color: #eeeeee;
	color: #666;
	margin-right: 3px;
}

.logo {
	float: left;
	margin: 0px;
	padding: 1px;
	margin-right: 5px;
	vertical-align: middle;
}

.channel {
	vertical-align: middle;
}

.channel img {
	max-height: 16px;
	width: auto;
}


.newsitem {
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
	border-radius: 2px;
	padding-bottom: 30px;
	background-color: #DDD;
	padding-top: 10px;
}

.newstitle img {
	/*margin-right: 4px;*/
}


.channame {
	padding: 5px;
	color: #555;
}


.day {
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
	margin-bottom: 20px;
	/*background: #eeeee0;*/
	color: #555;
}

.channame a {
	font-weight: bold;
	text-decoration: none;
}


.itemtitle {
	cursor: pointer;
	text-decoration: none;
	/*font-size: 1.2em;*/
	font-weight: bold;
}

.controls {
	vertical-align: middle;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	height: 12px;
	width: auto;
	font-size: 0.9em;
}

.controls img{
	cursor: pointer;
}

.datelabel {
	color: #777;
	font-size: 0.9em;
}
.datelabel a:link {
	color: #621b2f;
	text-decoration: none;
}

.datelabel a:visited {
	color: #939393;
	text-decoration: none;
}

.datelabel a:hover {
	text-decoration: none;
}


.chantitle{
  color: #555;
  font-size: 0.9em;
}

.summary {
	color: #444;
}

.summary img {
  display: block;
  float: none;
  margin: 2%;
  max-width: 96%;
  max-height: 350px;
}

.summary a:link {
	color: #13B;
}

.chantitle a:link {
	color: #777;
}

.enclosure {
	color: #229;
	font-size: 0.9em;
	text-decoration: none;
}

.enclosure a {
	text-decoration: underline;
}

.newslist {
	padding-bottom: 1px;
}


.storycontent img, .enclosure img {
	display: block;
	float: none;
	max-width: 100%;
	height: auto;
	margin: 0px;!important;
}

.storycontent h3 {
	font-size: 1.3em;
}

.storycontent {
	line-height: 1.4em;
}

.storycontent blockquote {
	border-left: 3px solid rgb(220, 220, 220);
	padding-left: 7px;
	margin-left: 6px;
	width: 90%;
}


.newclass {
	background-color: #fff;
}

.article {
	padding: 5px;
}

.itemfooter {
	margin-top: 18px;
}

.itemfooter a:link, a:visited{
	text-decoration: none;
	border-radius: 2px;
	background: #B9BAB9;
	padding: 3px;
}

</style>

<script type="text/javascript" src="{scripturl}/pub/zfclientside.js"></script>


<script type="text/javascript">
var ZFURL = '{scripturl}';
var ZFTEMPLATE = '{template}';
var ZFCURRENTNEWSID = 0;



</script>

<!-- ENDtemplateHeader -->


<!-- header -->

<div id="zfwrapper">
<!-- ENDheader -->
<!-- channel -->
<div class="channel">
  <div class="channame">
    <a href="{chanlink}" rel="noreferrer">{chantitle}</a>
    <span class="dateline">{chandesc}</span>
    <div class="controls">
      last updated: {lastupdated}
      <img src="{scripturl}/res/img/refresh.png" alt="[REFRESH]" title="refresh feed for {chantitle}" style="border:0;" onclick="zf_getRefreshedNews('{chanid}', 'NEWSLIST'+'{chanid}');" />
      <img src="{scripturl}/res/img/more.png" alt="[MORE]" title="get all articles of {chantitle}" style="border:0;" onclick="zf_getAllNews('{chanid}','NEWSLIST'+'{chanid}');" />
    </div>
  </div>
</div>
<div class="newslist" id="NEWSLIST{chanid}">
<!-- ENDchannel -->
<!-- news -->
<div class="newsitem {isnew}">
	<div>
		<a href="{articleurl}" id="TITLE{itemid}" class="itemtitle {isnew}" target="_blank">{title}</a>
	</div>
	<div class="summary">
		{summary}
	</div>
	<div class="itemfooter">
		<span class="action"><a href="?q=channel&id={chanid}&decoration=1">{chantitle}</a> - <span class="datelabel">{relativedate}</span><br/><a href="{download}" target="_blank">dload</a> - <a href="http://www.readability.com/m?url={link_encoded}" target="_blank" rel="noreferrer">readability</a> - <a href="{link}" rel="noreferrer" target="_blank">open</a></span>
	</div>
</div>
<!-- ENDnews -->
<!-- newsDay -->
<div class="channel">
  <div class="day">
    {date}
  </div>
</div>
<!-- ENDnewsDay -->
<!-- newsByDate -->
<div class="newsitem {isnew}">
	<div>
		<a href="{articleurl}" id="TITLE{itemid}" class="itemtitle {isnew}" target="_blank">{title}</a>
	<span class="chantitle"><a href="?q=channel&id={chanid}&decoration=1">{chantitle}</a> - <span class="datelabel">{relativedate}</span></div>
	<div class="summary">
		{summary}
	</div>
	<div class="itemfooter">
		<a href="{download}" target="_blank">dload</a> <a href="http://www.readability.com/m?url={link_encoded}" target="_blank" rel="noreferrer" target="_blank">readability</a> <a href="{link}" rel="noreferrer" target="_blank">open</a></span>
	</div>
</div>
 <!-- ENDnewsByDate -->
<!-- channelFooter -->
<!-- ENDchannelFooter -->
<!-- footer -->
</div> <!-- zfwrapper div -->
<!-- ENDfooter -->
<!-- article -->
<div class="article">
	<h3><a href="{link}" rel="noreferrer" title="{chantitle}" target="_parent">{title}</a></h3>
	<div class="enclosure">{enclosures}</div>
	<div class="storycontent">{description}</div>
	<div class="itemfooter">
		<a href="{download}">Download</a> <a href="http://www.readability.com/m?url={link_encoded}" rel="noreferrer">readability</a> <a href="#" onclick="javascript:window.close();return false;">close</a>
	</div>
</div>
<!-- ENDarticle -->
