<!--	ZebraFeeds template
	name / description: headlinebox / simple html tables blue scheme headlines box style
	author: AB
	note: Do NOT delete or modify comments in the template files
-->

<!-- templateHeader -->
<!-- ENDtemplateHeader -->

<!-- header -->
<table width="150" cellpadding="0" cellspacing="0" bordercolor="#E1F0FF">
<!-- ENDheader -->
  <!-- channel -->
  <tr align="left" valign="middle">
     <td bgcolor="#CCC"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
       <table width="150" cellpadding="0" cellspacing="0" bordercolor="#E1F0FF">
        <tr>
           <td><a href="{chanlink}" title="{chandesc}" target="_blank">{chantitle}</a></td>
         </tr>
      </table>
       </font></td>
   </tr>
  <!-- ENDchannel -->
  <!-- news -->
  <tr align="left" valign="top">
     <td bgcolor="#E7E7E7"> <table width="150">
         <tr>
          <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{link}" title="{title}" target="_blank">{title}</a></font></td>
        </tr>
         <tr>
          <td bgcolor="#CCC"></td>
        </tr>
       </table></td>
   </tr>
  <!-- ENDnews -->
<!-- newsDay -->
  <tr align="left" valign="middle">
     <td bgcolor="#CCC">
		   <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
       <table width="150" cellpadding="0" cellspacing="0" bordercolor="#E1F0FF">
        <tr>
           <td>{date}</td>
         </tr>
      </table>
       </font></td>
   </tr>
<!-- ENDnewsDay -->
<!-- newsByDate -->
  <tr align="left" valign="top">
     <td bgcolor="#E7E7E7"> <table width="150">
         <tr>
          <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{link}" title="{title}" target="_blank">{title}</a></font></td>
        </tr>
         <tr>
          <td bgcolor="#CCC"></td>
        </tr>
       </table></td>
   </tr>
<!-- ENDnewsByDate -->
<!-- footer -->
</table>
<!-- ENDfooter -->
