html, body {
	background: #fff;
}


.itemtitle {
	font-size: 12pt;
}

.newstitlelist {
	line-height: 13pt;
	padding: 12px 0;
}	

#wrapper {
	min-height: 100%;
	width: 100%;
}
#zfOverlay {
/*  display: none;*/
}
#zffixednews {
	margin: 0;

	width: 100%;
	padding: 0;
	left: 0;
	top: 0;
	min-height: 500px;
	border: none;
	position: fixed;
	
	
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

}



#zffixednews a.close {
    margin: 0 0 15px;
    position: absolute;
    right: 0;
    z-index: 210;
}

#zffixednews img {
	max-width: 93%;
}

#zfbartitle {
	display: block;
	left: -200px;
	height: 40px;
	top: 0;
	left: 0;
}

#slideContainer {
	width: 200%;
	position:	relative;
}

.zfchannelbox {
	box-shadow: none;
	margin: 0;
}

.channel {
	border-radius: 0;
	padding: 12px 5px;
}

.feed .page .item.h-60,
.feed .page .item.h-40, 
.feed .page .item.w-30, 
.feed .page .item.w-60, 
.feed .page .item.w-40 {
    height: auto;
    width: 100%;
    padding: 10px 0;
}
.feed .page .item.box-b-r {
    border-right: none;
}
.feed .page .item .newstitle {
    font-size: 12pt;
    margin: 0;
}
.feed .page .item .newsdesc,
.feed .page .item:after {
    display: none;
}