<!--    ZebraFeeds tests template

-->

<!-- templateHeader -->

<!-- SIMPLE TEST TEMPLATE HEADER -->
<!-- ENDtemplateHeader -->

<!-- header -->
<pre>
---
HEADER scripturl        {scripturl}
---
</pre>
<!-- ENDheader -->
<!-- channel -->
<pre>
---
CHANNEL chanid          {chanid}
CHANNEL chantitle       {chantitle}
CHANNEL chanlink        {chanlink}
CHANNEL chandesc        {chandesc}
CHANNEL chanlogo        {chanlogo}
CHANNEL chanfavicon     {chanfavicon}
CHANNEL feedurl         {feedurl}
CHANNEL lastupdated     {lastupdated}

CHANNEL list            {list}
--- end channel
</pre>
<!-- ENDchannel -->
<!-- news -->
<pre>
        ---
        NEWS title           {title}
        NEWS pubdate         {pubdate}
        NEWS link            {link}
        NEWS itemid          {itemid}
        NEWS isnew           {isnew}

        NEWS chantitle       {chantitle}
        NEWS chanlink        {chanlink}
        NEWS chandesc        {chandesc}
        NEWS feedurl         {feedurl}
        NEWS scripturl       {scripturl}
        NEWS list            {list}


        NEWS description     <div style="height: 50px; overflow: scroll">{description}</div>
        NEWS summary        <div style="height: 50px; overflow: scroll">{summary}</div>
        NEWS enclosures      {enclosures}
        ------ END NEWS
</pre>
<!-- ENDnews -->
<!-- newsByDate -->
<pre>
        ---
        NEWSBYDATE title           {title}
        NEWSBYDATE pubdate         {pubdate}
        NEWSBYDATE link            {link}
        NEWSBYDATE itemid          {itemid}
        NEWSBYDATE isnew           {isnew}

        NEWSBYDATE chantitle       {chantitle}
        NEWSBYDATE chanlink        {chanlink}
        NEWSBYDATE chandesc        {chandesc}
        NEWSBYDATE feedurl         {feedurl}
        NEWSBYDATE scripturl       {scripturl}
        NEWSBYDATE list            {list}

        NEWSBYDATE description     <div style="height: 50px; overflow: scroll">{description}</div>
        NEWSBYDATE summary        <div style="height: 50px; overflow: scroll">{summary}</div>
        NEWSBYDATE enclosures      {enclosures}
        ------ end newsbydate
</pre>
<!-- ENDnewsByDate -->
<!-- newsDay -->
<pre>
---
NEWSDAY date            {date}
------
</pre>
<!-- ENDnewsDay -->
<!-- footer -->
<pre>
---
FOOTER
-----
</pre>
<!-- ENDfooter -->
<!-- newsDayFooter -->
<pre>
---
NEWSDAYFOOTER
-----
</pre>
<!-- ENDnewsDayFooter -->
<!-- article -->
<pre>
                    ---
                    ARTICLE title           {title}
                    ARTICLE pubdate         {pubdate}
                    ARTICLE link            {link}
                    ARTICLE isnew           {isnew}
                    ARTICLE chantitle       {chantitle}
                    ARTICLE chanlink        {chanlink}
                    ARTICLE chandesc        {chandesc}
                    ARTICLE feedurl         {feedurl}
                    ARTICLE scripturl       {scripturl}
                    ARTICLE list            {list}

                    ARTICLE description     <div style="display:none;">{description}"</div>
                    ARTICLE enclosures      {enclosures}
                    ARTICLE summary         <div style="display:block">{summary}</div>
                    ------ end article
</pre>
<!-- ENDarticle -->
